@media (min-width:850px){
   
/*header Style (start)*/
.Section_header{
  height: 80px;
  background: rgba(0, 0, 0, 0.98);
}
.lu_idiom_movil{
   display: none;
}
.Logo_monastery_text{
   width: 260px;
   height: 40px;
}
.Element_cotainer{
   margin-left: 5%;
}
.icono-menu{
   display: none;
   }
.active{
   transform: translate(0%);
}
.cont-menu{
   padding: 0;
   position: relative;
   background: rgba(0, 0, 0, 0);
   display: flex;
   justify-content: center;
   justify-items: center;
   margin-right: 10%;
   width: 50rem;
}
.cont-menu ul{
   margin-left: 10rem;
   padding: none;
   list-style: none;
   width: 100%;
   display: flex;
}
.cont-menu ul li{
   width: 8rem;
   margin-bottom: 0;
   padding: 0;
   margin-left: 15px;
   margin-right: 15px;
}
#list_style a {
   margin-top: 8px;
   text-align: center;
 }
.Div_line_header{
   display: none;
}
.Logo_monastery_text_2{
   display: none;
}
.lu_idiom_movil{
   display: none !important;
}
.lang-menu {
   display: inline;
   width: 80px;
   border-radius: 8px;
   background: #010409;
   position: relative;
   color: white;
   padding: 10px 10px 10px 20px;
}
.lang-menu img{
   width: 10px;
   height: 10px;
   margin-left: 30px;
}
.lang-menu .selected-lang {
   cursor: pointer;
   font-size: 1.313rem;
}
.lang-menu ul {
   display: none;
   background: #010409;
   position: absolute;
   top: 32px;
   right: 0px;
   width: 100%;
   border-radius: 8px;
}

.lang-menu ul li {
   border-radius: 0 0 10px 10px;
   list-style: none;
   text-align: left;
   padding: 10px 15px 15px 10px;
}

.lang-menu ul li a {
   font-size: 1.313rem;
   display: block;
}

.lang-menu ul li a:before {
   width: 25px;
   height: 25px;
}
.lang-menu:hover ul {
   display: block;
}

/*header Style (end)*/
/*section one (start)*/
      .Section_comunity_3d{
        text-align: center;
        color: #EAEAEA;
        width: 100%;
        padding-bottom: 5%;
        background-image: url(../img/Banner\ monastery\ desk.jpg);
        
        }
        .Logo_monastery_simbol{
         width: 25rem;
         padding-bottom: 25rem;
         background-image: url(../img/Enmascarar\ grupo\ 172@3x.png);
         margin-right: 15%;
         background-size: 100% 100%;
         /*margin-top: 8%;
         margin-right: 15rem;
         margin-bottom: 3%;*/
         }
         .NFT_3D_cap{
         position:absolute;
         top: 15rem;
         left: 30%;
         transform: translate(-50%, -50%); 
         width: 100%;
         height: 45rem;
        /* width: 80%;
         height: 80%;*/
         }
         .Text_monastery_comunity{
         width: 100%;
         margin-top: 3.6vh;
         margin: auto;
         margin-bottom: 3.6vh;
         font-size: 1.5rem;
         letter-spacing:0.3rem;
         }
        /* .button_join_telegram{
         width: 23rem;
         height: 4rem;
         padding: 5px;
         font-size: 1.6rem;
        }
        .Telegram_image{
         width:40px;
         height:40px;
      }*/
/*section one (end)*/

/*section two (start)*/
         .To_query{
          margin-top: 3.5vh;
         margin-bottom: 3.5vh;



         justify-content: center;
         justify-items: center;
         }
         .Key_text_description{
         width: 20rem;
         /*font-size: 1.5rem;*/
         /*line-height: 3rem;*/
         /*font-size: 2.5rem;
         width: 35rem;*/
         }
         .Video_NFT_monstery{
            /*width: 50%;*/
         width: 40%;
         justify-content: right;
         }
         .Video_NFT_monstery video {
         width: 50%;
         }
         .Section_key_desciption{
         padding-bottom: 100px;
         padding-top: 50px;
         background-image: none;
            
         width: 50%;
         }
         .Text_descripton_art{
         /*margin-left: 3.6vh;
         width: 35rem;*/
         width: 20rem;
        /* font-size: 1.563rem;
         line-height: 2.3rem;*/
         color: #EAEAEA;
         font-family: 'Inter-light';
         }
/*section two (end)*/

/*section three (start)*/
         .Section_benefist_description{
         padding-top: 5%;
         }
         .Logo_monastery_simbol_2{
         width: 10%;
         padding-bottom: 10%;
         }
        /* .Text_benefist{
         font-size: 2.5rem;
}*/
/*style query-desk(start)*/
.swiper_movil{
   display: none;
}
.swiper_desk{
   width: 60%;
   justify-content: center;
   justify-items: center;
   display: inline;
   margin: auto;
 
}
.swiper_desk_top{
display: flex;
width: calc((20rem * 3) + 6vh);
margin: auto;
margin-top: 5rem;
}
.swiper_desk_bottom{
   display: flex;
   margin: auto;
   justify-content: center;
}

.swiper_desk_top{
   display: flex;
   justify-content: center;
   margin: auto;
}
.silde_img{
   width: 15rem;
   height: 18rem;
   margin-bottom: 8%;
   
}
.silde_img img{
   width: 3.5rem;
   height:3.5rem;
   border-radius: 15px;
   background: none;
   box-shadow:none;
   transform: scale(3.1);
  /* border-radius: 15px;
   background: rgba(250, 250, 250, 0.250);
   box-shadow:solid   0 0 5px  rgba(255, 255, 255, 0), 0 0 30px  rgba(255, 255, 255, 0.528);
   margin: 15% 0rem 15% 10%;*/
   }
   .silde_img p{
      margin: 0rem 5% 1rem 10%; 
      font-family: 'Inter';
      width: 80%;
      /*font-size:1.25rem;*/
      /*line-height: 1.4rem;*/
      }

/*tyle query-desk(end)*/

        /* .Text_benefist_2{
         font-size: 1.5rem;
         }
         .Button_go_roadmap{
         width: 23rem;
         height: 4rem;
         padding: 5px;
         font-size: 1.6rem;
         margin-top: 2.5rem;
         margin-bottom: 4rem;
         }*/
/*section three (end)*/
.Text_fashion_week {
  /* height: 3rem;*/
   overflow: hidden;
  /* font-size: 1.5rem;
   letter-spacing:0.5rem */;
   padding-top: 0.9rem;
 }
 .Text_fashion_week span {
   display: inline-block;
   white-space: nowrap;
   animation: marquee 15s linear infinite;
   transform: translateX(100%);
   color: black;  
 }

/*section five(start)*/
         .photo{
        /* width: 30%;
         padding-bottom: 30%;*/
         width: 30rem;
         padding-bottom: 30rem;

         }
         .image_art{
        /* width: 30%;
         padding-bottom: 30%;*/
         width: 28rem;
         padding-bottom: 28rem;
         }
         .Text_art_desck {
         justify-content: right;
         width: 25rem;
         order: 2;
         margin: 5%;
         }
         .Text_tittle_RMA{
         /*font-size: 2.5rem;
         letter-spacing: 0.3rem;*/
         margin-bottom: 1.8vh;
         }
         .Text_desciption_RMA{
        /* font-size: 1.25rem;*/
            
         margin-bottom: 3rem  ;
         width: 25rem;
         }
        .Button_ARM{
         /*width: 23rem;
         height: 4rem;
         padding: 5px;
         font-size: 1.6rem;
         margin: 0;*/
         margin: 0 0 0 3.3vh;

         }
/*section five(end)*/

/*section six (start)*/
/*.Text_roadmap_tittle{
font-size: 2.5rem;
margin-top: 6rem;
margin-bottom: 3rem;
}*/
.Text_roadmap_description{
   width: 43rem;
   margin: auto;
/*width: 53rem;
margin: auto;
font-size: 1.25rem;
line-height: 2.33rem;
margin-bottom: 3rem;*/
}
/*roadmap(start)*/

/*roadmap(end)*/
/*section six (end)*/

.Div_image{
   background-image: url(../img/Web/Metaverso.png);
   background-size: 100%;
   padding-bottom: 35%;
}

/*section seven (start)*/

.Text_tittle_Q{
/*font-size: 2.5rem;
padding-left: 30%;*/

margin-top: 45px;
margin-bottom: 30px;
 }

 .Section_Q_desk{
   background-size: 36% 100%;

 }
 .Text_p{
  /* margin: 1vw auto 1vw auto;
   color: #EAEAEA;
   width: 40%;
   height: 3rem;*/

   width:27rem;
   height:2.3rem;
   margin-top: 1rem;
   margin-bottom: 0;
   font-size: 1.25rem;
 }

 /*Section_Q_desk road-map Desk (start)*/
 .road_q1{
   position: relative;
   display: flex;
   margin: auto;
   justify-content: center;
   /*background-image: url(../img/Carretera/1.png);*/
   background-size: 50% 100%;
   background-repeat: no-repeat;
 }
 .transitionDiv1{
   position: absolute;
   top: 89%;
   left: 25%;
   transform: translate(-50%, -50%);
   width: 35rem;
   height: 30rem;
   text-align: left;
   background-image: none;
   background-size: 100% 100%;
   transition: opacity 1.5s ease;
 }
 .road1{
   margin: auto;
   z-index:+10;
   width: 20rem;
   height: 45vh;
   display: flex;
   opacity: 0;
   transition: opacity 1.5s;
 }
 .car1{
   height: 12rem;
   width: 100%;  

   background-size: 8rem 5rem;
   background-position: 60%;
   padding-left: 0;
   }
 .line_car1{
   width: 50%;
   height: 5px;
   border-radius: 5px;
   background: #EAEAEA;
   box-shadow: 0 0 30px  rgba(255, 255, 255, 0.747);
 }
 .road_q1:hover .transitionDiv1 {
   background-color: rgba(1, 4, 9, 0.274);
   background-image: url(../img/Q1.png);
   background-blend-mode: multiply;
   background-position: center center;
 }
 .road_q1:hover .road1 {
   opacity: 1;
 }
 .road_q2{
   position: relative;
   display: flex;
   margin: auto;
   justify-content: center;
  /* background-image: url(../img/Carretera/2.png);*/
   background-position: center;
   background-size: 50% 100%;
   background-repeat: no-repeat;
 }
 .transitionDiv2{
   position: absolute;
   top: 15%;
   left: 77%;
   transform: translate(-50%, -50%);
   width: 35rem;
   height: 30rem;
   text-align: left;
   background-image: none;
   background-size: 100% 100%;
   transition: opacity 1.5s ease;
 }
 .road2{
   margin: auto;
   z-index: +10;
   width: 20rem;
   height: 45vh;
   display: flex;
   opacity: 0;
   transition: opacity 1.5s;
 }
 .car2{
height: 12rem;
 width: 100%;  
 
 background-size: 8rem 5rem;
 background-position: 60%;
 }
 .line_car2{
   width: 50%;
   height: 5px;
   margin-left: 50%;
   border-radius: 5px;
   background: #EAEAEA;
   box-shadow: 0 0 30px  rgba(255, 255, 255, 0.747);
 }
 .road_q2:hover .transitionDiv2 {
   background-color: rgba(1, 4, 9, 0.274);
   background-image: url(../img/Q2.png);
   background-blend-mode: multiply;
   background-position: center center;
 }
 .road_q2:hover .road2 {
   opacity: 1;
 }
 .road_q3{
   position: relative;
   display: flex;
   margin: auto;
   text-align: left;
   /*background-image: url(../img/Carretera/3.png);*/
   background-position: center;
   background-size: 50% 100%;
   background-repeat: no-repeat;
 }
 .transitionDiv3{
   position: absolute;
   top: 68%;
   left: 25%;
   transform: translate(-50%, -50%);
   width: 35rem;
   height: 30rem;
   text-align: left;
   background-image: none;
   background-size: 100% 100%;
   transition: opacity 1.5s ease;
 }
 .road3{
   margin: auto;
   z-index: +10;
   width: 20rem;
   height: 45vh;
   display: flex;
   opacity: 0;
   transition: opacity 1.5s;
 }
 .road_q3:hover .transitionDiv3 {
   background-color: rgba(1, 4, 9, 0.274);
   background-image: url(../img/Q3.png);
   background-blend-mode: multiply;
   background-position: center center;
 }
 .road_q3:hover .road3 {
   opacity: 1;
 }
 .road_q4{
   position: relative;
   display: flex;
   margin: auto;
   justify-content: center;
   /*background-image: url(../img/Carretera/4.png);*/
   background-position: center;
   background-size: 50% 100%;
   background-repeat: no-repeat;
 }
 .transitionDiv4{
   position: absolute;
   top: 45%;
   left: 77%;
   transform: translate(-50%, -50%);
   width: 35rem;
   height: 30rem;
   text-align: left;
   background-image: none;
   background-size: 100% 100%;
   transition: opacity 1.5s ease; 
 }
 .road4{
   margin: auto;
   z-index: +10;
   width: 20rem;
   height: 45vh;
   display: flex;
   opacity: 0;
   transition: opacity 1.5s;
 }
 .road_q4:hover .transitionDiv4 {
   background-color: rgba(1, 4, 9, 0.274);
   background-image: url(../img/Q4.png);
   background-blend-mode: multiply;
   background-position: center center;
 }
 .road_q4:hover .road4 {
   opacity: 1;
 }
 /*Section_Q_desk road-map Desk (end)*/

/*section seven (end)*/

/*section eight (start)*/
.Container-acordeon{
   display: none;
}
.section_desk_queztions{
   width: 80%;
   margin: auto;
}
.section_desk_queztions h2{
   text-align: center;
   /*font-size: 2.5rem;
      margin-bottom: 3vh;
         margin-top: 8vh;*/
   font-size: 1.313;
   margin-top: 5vh;
   margin-bottom: 1vh;
   color: #EAEAEA;
   letter-spacing:0.3rem ;
}

.section_desk_queztions p{
   font-size: 1.25rem;
}
.section_desk_queztions{
   display: inline;
   width: 100%;
}
.Text_acordeon{
   margin-top: 3rem;
   margin-bottom: 5rem;
}
.canva_quez{
   display: flex;
   justify-content: center;
}
.scroll_quez{
width: 36rem;
height: 40rem;
overflow: auto;
direction: rtl;
margin-right: 0.5rem;
}
.scroll_quez div{
   direction: ltr;
}
.scroll_quez::-webkit-scrollbar {
   width: 16px;
   
 }
 .scroll_quez::-webkit-scrollbar-thumb {
   background: #171C25;
   border-radius: 10rem;
   
 }
 .scroll_quez::-webkit-scrollbar-track {
   position: absolute;
   right: -3rem;
   top: -50rem;
   background: transparent;
   
 }
.acordeon-label-1{
   padding: 3.5%;
   width: 90%;
   border-radius: 8px;
   background: #171C25;
   margin: 10px;
   color: #EAEAEA;
   /*font-size: 1.25rem;*/
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.acordeon-label-1:hover {
   border: 2px solid;
   border-style: #eaeaea79;
   box-shadow: 0 0 15px  rgba(255, 255, 255, 0.349);
 }
 .acordeon-label-1 img{
transform: rotate(270deg);
width: 15px;
height: 15px;
}

.answer{
background: #171C25;
border-radius: 5px;
width: 36rem;
height: 40rem;
color: #EAEAEA;
}
.answer img{
   margin: 2.5rem;
   width: 18rem;
   height: 14rem;
}
.answer p{
   margin: 2.5rem;
   font-size: 1rem;
   color: #EAEAEA;
}

.answer ul{
   list-style: disc;
   margin: 2.5rem;
   margin-top: 0.5em;
   margin-left: 4rem;
}
.answer li{
   margin-bottom: 1rem;
   font-size: 1rem;
}



/*section eight (end)*/

/*section nine (start)*/
.Section_access{
   display: none;
}
.Section_access_desk{
   display: flex;
   justify-content: space-around;
   margin-top: 12rem;
   padding: 3rem;
   border-top: 0.3px solid #171C25;
   border-bottom: 0.3px solid #171C25;
}
.acordeon .Acordeon-label-2{
   padding: 0px;
   margin-left:0vh;
   margin-right:0vh;
}
.acordeon ul{
   margin-top: 8px;
   }
.acordeon ul li{
list-style: none;
margin-bottom: 8px;
}
/*section nine (end)*/
footer{

   font-size: 1.313rem;

}

}